@font-face {
  font-family: 'MinhaFonte';
  src: url('fonts/TrajanProBold.ttf') format('truetype');
}
body {
  font-family: 'MinhaFonte', sans-serif;
}
.texto {
  transform: translateY(330px);
  text-align: center;
}
.emoji1 {
  transform: translateY(350px);
  text-align: center;
}